In [27]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

from statsmodels.tsa.stattools import adfuller

In [28]:
df = pd.read_csv("zillow_data.csv")
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [29]:
cheese_df = pd.read_csv('cheese_df.csv')
cheese_df.head()

   RegionID    variable     value
0     84654  1996-05-01  335400.0
1     84654  1996-06-01  336500.0
2     84654  1996-07-01  337600.0
3     84654  1996-08-01  338500.0
4     84654  1996-09-01  339500.0

In [30]:
sf_id = list(df[df.CountyName == 'San Francisco'].RegionID)
sf_cheese_df = pd.concat([cheese_df[cheese_df.RegionID == i] for i in  sf_id], axis = 0)

la_id = list(df[df.CountyName == 'Los Angeles'].RegionID)
la_cheese_df = pd.concat([cheese_df[cheese_df.RegionID == i] for i in  la_id], axis = 0)

In [31]:
sf_cheese_df_97564 = sf_cheese_df[sf_cheese_df.RegionID == sf_id[0]]

In [32]:
sf_cheese_df_97564.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264 entries, 2376 to 2639
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RegionID  264 non-null    int64
 1   variable  264 non-null    object
 2   value     264 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 8.2+ KB

In [33]:
sf_cheese_df_97564

      RegionID    variable      value
2376     97564  1996-05-01   771100.0
2377     97564  1996-06-01   776500.0
2378     97564  1996-07-01   781900.0
2379     97564  1996-08-01   787300.0
2380     97564  1996-09-01   793000.0
...        ...         ...        ...
2635     97564  2017-12-01  3778700.0
2636     97564  2018-01-01  3770800.0
2637     97564  2018-02-01  3763100.0
2638     97564  2018-03-01  3779800.0
2639     97564  2018-04-01  3813500.0

[264 rows x 3 columns]

In [34]:
sf_cheese_df_97564.variable = pd.to_datetime(sf_cheese_df_97564.variable)

In [35]:
sf_cheese_df_97564.diff()

      RegionID variable    value
2376       NaN      NaT      NaN
2377       0.0  31 days   5400.0
2378       0.0  30 days   5400.0
2379       0.0  31 days   5400.0
2380       0.0  31 days   5700.0
...        ...      ...      ...
2635       0.0  30 days -15200.0
2636       0.0  31 days  -7900.0
2637       0.0  31 days  -7700.0
2638       0.0  28 days  16700.0
2639       0.0  31 days  33700.0

[264 rows x 3 columns]

In [37]:
from statsmodels.tsa.stattools import adfuller
dftest = adfuller(sf_cheese_df_97564.values)
dfoutput = pd.Series(dftest[0:4], index=['Test Statistic',
                                         'p-value', '#Lags Used',
                                         'Number of Observations Used'])
for key, value in dftest[4].items():
    dfoutput['Critical Value (%s)' %key] = value
print (dfoutput)

TypeError: float() argument must be a string or a number, not 'Timestamp'